* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
.mainContainer{
  margin-left: 186px !important;
  padding-top: 76px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 76px;
}
